  body {
        font-family: 'Lato', sans-serif;
        background-color: white;
    }

    p, li {
        font-family: 'PT Serif', serif;
    }

    .container{
        display: flex;
        justify-content: center;
    }
    .content-wrapper{
        width: 660px;
    }
    .style-details{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        margin-top: 75px;
        margin-bottom: 75px;
    }
    .style-details-text{
        text-align: right;
    }
    .style-details-text h3{
        margin-top: 40px;
        margin-bottom: 10px;
    }
    .style-details-text div{
        color: #808080;
        font-weight: normal;
    }
    .style-details-logo img{
        width: 100%;

    }
    .dos_donts_wrapper{
        display: grid;
        grid-template-columns: 2fr 2fr 1fr;
    }
    .blue_text {
        color:blue;
    }