  body {
        font-family: 'Lato', sans-serif;
        background-color: white;
    }

    p, li {
        font-family: 'PT Serif', serif;
    }

    .container{
        display: flex;
        justify-content: center;
    }
    .content-wrapper{
        width: 660px;
    }
    .style-details{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        margin-top: 75px;
        margin-bottom: 75px;
    }
    .style-details-text{
        text-align: right;
    }
    .style-details-text h3{
        margin-top: 40px;
        margin-bottom: 10px;
    }
    .style-details-text div{
        color: #808080;
        font-weight: normal;
    }
    .style-details-logo img{
        width: 100%;

    }
    .dos_donts_wrapper{
        margin-top: 75px;
        margin-bottom: 75px;
        gap: 30px;
        display: grid;
        grid-template-columns: 2fr 2fr 1fr;
    }
   
    .dont_image_box {
        text-align: center;
        margin-bottom: 20px;

    }
     .dont_image_box img{
        width:50%;
    }
    .dont_image_box div{
       font-size: 14px;
       color: #999999;
    }
    .dos_donts_heading{
        font-weight: 900;
        margin-bottom: 20px;
        margin-left: 40px;
    }
    .blue_text {
        color:#0079ff;
    }
     .red_text {
        color:#dc0004;
    }
    .dos_donts_list li{
       margin-top: 30px;
       margin-bottom: 30px;
       font-size: 16px; 
    }
    .alternate_options_wrapper{
        margin-top: 75px;
        margin-bottom: 75px;
    }

    .alternate_options_wrapper h3{
       color:#999999;
       font-size: 18px;
       font-weight: 900;
    }
     .alternate_options_wrapper li{
       margin-top: 35px;
        margin-bottom: 35px;
        font-size: 19px; ;
    }
    .alternate_logo_images{
        margin-top: 80px;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        justify-items:center ;
        gap: 40px 100px;
    }
    .image_logos{
        width: 60%;
    }
    .text_logos{
        width: 90%;
    }

    .additional_branding_details{
       margin-top: 75px;
        margin-bottom: 75px;

    }
    .additional_branding_details a{
       color: #4fb8e8;
       font-size: 19px;

    }
    .additional_branding_details p{
       margin-bottom: 42px;
       font-size: 19px;

    }
    @media (max-width: 48em){
        .style-details, .dos_donts_wrapper{
            grid-template-columns: 1fr;
            gap: 50px;
        }
        .style-details-text{
            text-align: center;
        }
        
    }